*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f9b933;
    font-family: 'Monserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #700b04;
    color: white;
    padding: 10px;
    opacity: 1;
    animation: aparecer 1s ease-out forwards;
}

.logo{
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.logo h2{
    padding: 10px;
}

.img-logo{
    height: 50px;
}

nav{
    background-color: #f9b933;
}
header nav{
    color: black;
    padding-right: 10px;
}
header a{
    padding: 15px;
    text-decoration: none;
    color: #e7b581;
    background-color: #700b04;
}

@keyframes aparecer{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

nav{
    background-color: #700b04;
    align-items: start;
    display: flex;
    flex-direction: row;
}

.nav-bar{
    display: flex;
    align-items: end;
}

footer{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #700b04;
    color: white;
}

footer h2{
    padding: 90px;
}


