*{
    margin: 0;
    padding: 0;
}
body{
    /*background-color: #e8e8e8;*/
    background-color: #f9b933;
    font-family: 'Monserrat', sans-serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /*background-color: #000;*/
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #700b04;
    color: white;
    padding: 10px;
    opacity: 0;
    animation: aparecer 1s ease-out forwards;
}

.logo{
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.logo h2{
    padding: 10px;
}

.img-logo{
    height: 50px;
}

nav{
    background-color: #f9b933;
}

header nav{
    color: black;
    padding-right: 10px;
}
header a{
    padding: 15px;
    text-decoration: none;
    color: #e7b581;
    background-color: #700b04;
}

.hero{
    background-color: transparent;
    color: white;
    padding: 40px;
    margin: 50px 90px;  
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*box-shadow: rgba(0, 0, 0, 0.35) 
    0px 5px 15px;*/
}

.hero img{
    width: 600px;
    /*animation: aparecer 2s ease-out forwards;*/
    animation: aparecer 1s ease-out forwards;
    animation: latido 3s forwards;
}

.hero h1{
    font-size: xx-large;
    color: #700b04;
    animation: inputs 3s steps(22);
    opacity: 0;
    transform: translateX(-500px);
    animation: aparecer 2s ease-out forwards;
}

@keyframes aparecer{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes latido {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
}
  

.hero p{

    color: #700b04;
    margin-top: 20px;
    opacity: 0;
    transform: translateX(500px);
    animation: aparecer 2s ease-out forwards;
}

nav{
    background-color: #700b04;
    align-items: start;
    display: flex;
    flex-direction: row;
}

.nav-bar{
    display: flex;
    align-items: end;
}

.sobre-nosotros{
    background-color: transparent;
    color: #700b04;
    padding: 50px;
    margin: 50px 100px;  
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 
    0px 5px 15px;
}

.sobre-nosotros h2{
    font-size: xx-large;
    text-align: center;
    margin-bottom: 20px;
}
.sobre-nosotros hr{
    border-color: #700b04;
    color: #700b04;
    text-decoration: none;
    margin-bottom: 20px;
}
.sobre-nosotros p{
    margin-top: 20px;
    font-size: x-large;
    text-align: center;
    margin-bottom: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;   
    background-color: transparent;
}

.container img{
    max-width: 750px;
    border-radius: 8px;
    transition: transform 1s ease;
}

.container img:hover{
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.25) 
    0px 5px 15px;
}

.footer-contenido {
    display: flex;
    flex-direction: column; /* ahora todo se apila verticalmente */
    align-items: center;
    gap: 20px;
    text-align: center;
    background-color: #700b04;
    padding: 20px;
    color: white;
  }
  
  .footer-info h3 {
    font-size: smaller;
    margin: 0;
    padding: 0;
  }
  
  .footer-contacto h2 {
    font-size: medium;
    margin: 0;
    padding: 0;
  }
  
  .footer-contacto a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    margin-top: 5px;
  }

@media (max-width: 768px) {
    
    header {
        flex-direction: column;
        align-items: center;
      }
      
      .logo {
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-bottom: 10px;
      }
      
    .hero{
    flex-direction: column;
    align-items: center;
    text-align: center;
     }

    .hero img {
    width: 250%;
    }

    .sobre-nosotros {
    margin: 20px;
    padding: 20px;
    }

    .sobre-nosotros img {
    width: 100%;
    }

    nav {
    flex-direction: row;
    align-items: center;
    }

    .nav-bar {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    }

    .nav-bar a {
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    }

    .footer-contenido {
        flex-direction: column;
        align-items: center;
    }
}


